/*
@font-face {
    font-family: Ohm;
    src: url("http://223sk.github.io/fonts/ohmweb-bold.otf");
}

@font-face {
    font-family: ConcourseT3;
    src: url("223sk.github.io/fonts/Concourse T3 Regular.otf");
    }

@font-face{
	font-family: ConcourseC4;
	src: url("http://223sk.github.io/fonts/Concourse%20C4%20Regular.otf");
}
*/

body{
  font-family: Muli;
  font-size: 24px;
}

h1{
	font-family: Fugaz One;
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #FF4396;
}

h2{
  font-family: Oleo Script;
  font-size: 48px;
  font-weight: bold;
  color: #111C29;
}
h3{
  font-size: 2em;
  color: #268ED5;
}
ol{
  color: #424242;
  font-size: 2em;
  margin-left: 10%;
  margin-right: 10%;
}

b{
  color: red;
}

#resources p {
	font-size: 16px;
	font-style: italic;
	color: #828b94;
}

#lessons p {
	font-size: 16px;
	font-style: italic;
	color: #828b94;
}

/*
.lesson{
	border: 1px dashed black;
}
*/

/* Border style isn't showing up, removing it for now */