body{
  font-family: Source Sans Pro;
}

h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 2em;
  color: #268ED5;
}
ol{
  color: #424242;
  font-size: 2em;
}

b{
  color: red;
}

lesson{
	border: 1px groove black;
}