

.page-header h1{
	font-family: Fugaz One;
  font-size: 72px;
  text-transform: uppercase;
  color: #FF4396;
}


.glyph{
	text-align: center;
	font-size: 48px;
}

.navbar-fixed-bottom{
	text-align: center;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#units{
	font-size: 24px;
	font-family: Proxima Nova;
	font-weight: 700;
}

.badge{
	font-weight:400;
}

#code{
	margin-top: -200px;
}

body{
	padding-bottom: 150px;
}
