/*styling #hex*/

/*custom font - Lato*/
@import url("http://fonts.googleapis.com/css?family=Lato:100");
/*basic reset*/
* {margin: 0; padding: 0;}
/*make the body occupy full height*/
html, body {height: 100%;}

#hex {
	color: white; 
	font-size: 20vw ;
	font-family: Fugaz One; 
	height: 72px;
	/*Vertical centering*/
	position: relative; top: 75%; margin-top: -32px;
	/*Horizontal centering*/
	text-align: center;
}

h1{

	color: white; 
	font-family: Fugaz One; 
	font-size: 11vw;
	height: 72px;
	/*Vertical centering*/
	position: relative; top: 25%; margin-top: -32px;
	/*Horizontal centering*/
	text-align: center;
	
}

