.page-header h1{
	font-family: Fugaz One;
  font-size: 72px;
  text-transform: uppercase;
  color: #FF4396;
}

ul{
	font-family: Muli;
	font-size: 18px;
}

p{
	font-family: Muli;
	font-size: 18px;
}

.glyph{
	text-align: center;
	font-size: 48px;
}

.navbar-fixed-bottom{
	text-align: center;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}