@font-face {
        font-family: "Proxima Nova";
        font-weight: bold;
        src: url("1132183/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype");
    }

    @font-face {
        font-family: "Proxima Nova";
        font-weight: bold;
        font-style: italic;
        src: url("1132186/9bd640b2-9a56-4391-b213-767ae9c30ef4.ttf") format("truetype");
    }

    @font-face {
        font-family: "Proxima Nova";
        src: url("1132159/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype");
    }

    @font-face {
        font-family: "Proxima Nova";
        font-style: italic;
        src: url("1132162/b7eb3871-e910-4522-9982-effb425a2714.ttf") format("truetype");
    }

