h1{
	font-family: Unica One;
	text-transform: uppercase;
	text-align: center;
	font-size:8vw;
}

/* not using Jumbotron for now
.jumbotron {
  background-image: url(/images/portfolio.png);
  width=100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.col-md-6 h2{
	font-family: Ovo;
	font-size: 36px;
	text-align: center;
}

.col-md-12 h2{
	font-family: Ovo;
	font-size: 36px;
	text-align: center;
}


p{
	font-family: Muli;
	font-size: 22px;
}

.panel-footer{
	font-family: Open Sans;
	text-align: center;
}