/*styling #hex*/

/*custom font - Lato*/
@import url("http://fonts.googleapis.com/css?family=Lato:100");
/*basic reset*/
* {margin: 0; padding: 0;}
/*make the body occupy full height*/
html, body {height: 100%;}

#hex {
	color: white; 
	font-size: 30vw ;
	font-family: "VT323"; 
	height: 72px;
	/*Vertical centering*/
	position: relative; top: 50%; margin-top: -32px;
	/*Horizontal centering*/
	text-align: center;
	text-shadow: 5px 5px 1px #424242;
}

h1{

	color: white; 
	font-family: "VT323"; 
	font-size: 11vw;
	height: 72px;
	/*Vertical centering*/
	position: relative; top: 25%; 
	/*Horizontal centering*/
	text-align: center;
	text-shadow: 5px 5px 1px #424242;
	
}

#code{
	margin-top: 100%;
}

