*{
	font-family: Fugaz One;
	font-size: 22px;
	text-align: center;
	line-height: 5px;
}

h1{
	text-align: center;
	font-family: Fugaz One;
	font-size: 72px;
	color: #FF3D96;
}

button{
	height: 50px;
	font-family: ;
	font-size: 22px;
	font-variant: small-caps;
}

#story{
	font-size: 24px;
	text-align: center;
	padding-top: 35px;
	font-family: Courier;
	line-height: 1;
}



input {
		font-family: Courier;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;

}