h1 {
	width: auto;
/* 	going to the edges looks awful... */
	margin-left:5%;
	margin-right:5%;
	font-family: Concourse c4;
/* 	fonts from Overcast */
	font-size: 72px;
	text-align: center;
	color: white;
	background: #77D5E7;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 1px 1px 8px black;
	
}

h2 {
	font-family: concourse c3;
	font-size: 48px;
	text-align: center;
	color: #77D5E7;
/* 	These are the colors from Castro */
}

#checklist {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: Concourse t3;
	font-size: 24px;
	color: #424242;

}

.serif{
	font-family: serif;
}

code{
	color: #77D5E7;
	/* font-family: Source Code Pro; */
}