#menu ul {
    list-style-type: none;
    margin: 0; /*try changing this num*/
    padding: 0; /*try changing this num*/
    overflow: hidden; /*try removing*/
}

#menu li {
    float: left; /*try center or right*/
    padding: 10px;
    width: 100px; /*try changing this num*/
    background-color: orange;
    border-style: ridge;
}

/*#menu li:hover {
  background-color: green;
}*/